Package: hobot-models-basic
Version: 5.1.0
Section: utils
Architecture: arm64
Installed-Size:
Pre-Depends:
Depends:
Maintainer: kairui.wang <kairui.wang@d-robotics.cc style="word-wrap: break-word;">
Description: Basic models
