Package: hobot-models-basic
Version: 1.2.0
Section: utils 
Architecture: arm64
Installed-Size: 478208
Pre-Depends: 
Depends:
Maintainer: zixi01.chen <zixi01.chen@d-robotics.cc style="word-wrap: break-word;"> 
Description: Basic models for RDK X5
